
# Best Neighborhood in Pittsburgh

### Introduction

### Datasets and metrics

### Arrest data 

some information about arrest locations followed by python code

In [3]:
import pandas as pd

arrests = pd.read_csv("Arrest_data.csv")

# sort by incidentneighborhood and then count up sum of incidents 
neighborhood_counts = arrests['INCIDENTNEIGHBORHOOD'].value_counts().reset_index()

neighborhood_counts.columns = ['Neighborhood', 'Arrest Count']

neighborhood_counts = neighborhood_counts.sort_values(by='Arrest Count', ascending=True)

neighborhood_counts.head(20)

                   Neighborhood  Arrest Count
97      Mt. Oliver Neighborhood             2
96       Troy Hill-Herrs Island             6
95              Mt. Oliver Boro            18
94            Central Northside            23
93                Regent Square            37
92                    Ridgemont            37
91                New Homestead            39
90               Swisshelm Park            43
89               Chartiers City            46
88                East Carnegie            48
87                    St. Clair            55
86               Outside County            57
85                Outside State            67
84                  Summer Hill            76
83                      Oakwood            82
82  Golden Triangle/Civic Arena            83
81                         Hays           120
79                 Mount Oliver           124
80                      Windgap           124
78                    Fairywood           127

### Air Quality 

some stuff about air quality followed by python code

In [4]:
air_quality = pd.read_csv("Air_Qualitydata.csv")
air_quality.head()

/tmp/ipykernel_280/3462460461.py:1: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  air_quality = pd.read_csv("Air_Qualitydata.csv")

,_id,date,site,parameter,index_value,description,health_advisory,health_effects
0,19669,2018-06-08,Harrison Township,OZONE,115,Unhealthy for Sensitive Groups,"Active children and adults, and people with re...",Increasing likelihood of respiratory symptoms ...
1,19419,2018-05-28,Lawrenceville,OZONE,118,Unhealthy for Sensitive Groups,"Active children and adults, and people with re...",Increasing likelihood of respiratory symptoms ...
2,5757,2016-09-23,Lawrenceville,OZONE,122,Unhealthy for Sensitive Groups,"Active children and adults, and people with re...",Increasing likelihood of respiratory symptoms ...
3,4480,2016-07-27,South Fayette,OZONE,118,Unhealthy for Sensitive Groups,"Active children and adults, and people with re...",Increasing likelihood of respiratory symptoms ...
4,19378,2018-05-26,Harrison Township,OZONE,104,Unhealthy for Sensitive Groups,"Active children and adults, and people with re...",Increasing likelihood of respiratory symptoms ...

### Third dataset  -- fire incidents or playground 

stuff about it followed by code